
<div class="content">

    <div id="interior">
        <section id="contenido">
          <article class="proyectos">
              <div>
                <h4>Concepto</h4>
                <h2>¿Qué es?</h2>
                <hr/>
              </div>
              <div id="imagen">
                  <img src="/assets/Imagenes/imagen1.jpg" alt="Imagen 1">
              </div>
             <p>
                Los <strong> coronavirus </strong> son una familia de virus que se descubrió en la década de los 60 pero cuyo origen es todavía desconocido. Sus diferentes tipos provocan distintas enfermedades, desde un resfriado hasta un síndrome respiratorio grave (una forma grave de neumonía).
             </p>
             <p>
                Gran parte de los coronavirus no son peligrosos y se pueden tratar de forma eficaz. De hecho, la mayoría de las personas contraen en algún momento de su vida un coronavirus, generalmente durante su infancia. Aunque son más frecuentes en otoño o invierno, se pueden adquirir en cualquier época del año.
             </p>
             <p>
                El coronavirus debe su nombre al aspecto que presenta, ya que es muy parecido a una corona o un halo. Se trata de un tipo de virus presente tanto en humanos como en animales.
             </p>
          </article>
          <div class="limpiar"></div>
        </section>
        <aside>
            <div>
                <h3>Nuevo coronavirus</h3>
                <h6>2019-nCoV</h6>
            </div>
            <p >
                El nuevo coronavirus 2019 (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
            </p>
            <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


          <h6>Sintomas del 2019-nCoV</h6>

          <p>
            La infección 2019-nCoV puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
            <br> <br> Incluyen:
            <br>
            <br>
             -Fiebre <br>
             -Tos <br>
             -Falta de aliento

          </p>

        </aside>
    </div>
<!-- <app-footer></app-footer> -->
</div>

