
<div class="content">

<div id="interior">
    <section id="contenido">
      <article class="proyectos">
          <div>
            <h4>Síntomas</h4>
            <h2>¿Qué provoca?</h2>
            <hr/>
          </div>
          <div id="imagen">
              <img src="/assets/Imagenes/imagen5.jpg" alt="Imagen 5">
          </div>
         <p>
            En general, los síntomas principales de las infecciones por coronavirus suelen ser:

            <br>
            <br>
            -> Secreción y goteo nasal. <br>
            -> Tos. <br>
            -> Fatiga. <br>
            -> Dolor de garganta y de cabeza. <br>
            -> Fiebre. <br>
            -> Escalofríos y malestar general. <br>
            -> Dificultad para respirar (disnea).
         </p>
         <p>
            En espectro clínico de este tipo de infecciones varía desde la ausencia de síntomas hasta síntomas respiratorios leves o agudos. Esta tipología suele cursar con tos, fiebre y dificultades respiratorias. Es frecuente que haya neumonía y, en el caso del MERS, también se pueden registrar síntomas gastrointestinales, en especial, diarrea.
         </p>
         <p>
            Tal y como ocurre con el virus de la gripe, los síntomas más graves (y la mayor mortalidad) se registra tanto en personas mayores como en aquellos individuos con inmunodepresión o con enfermedades crónicas como diabetes, algunos tipos de cáncer o enfermedad pulmonar crónica. En casos extremos puede ocasionar insuficiencia respiratoria.
         </p>
      </article>
      <div class="limpiar"></div>
    </section>
    <aside>
        <div>
            <h3>Nuevo coronavirus</h3>
            <h6>2019-nCoV</h6>
        </div>
        <p >
            El nuevo coronavirus 2019 (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
        </p>
        <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


      <h6>Sintomas del 2019-nCoV</h6>

      <p>
        La infección 2019-nCoV puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
        <br> <br> Incluyen:
        <br>
        <br>
         -Fiebre <br>
         -Tos <br>
         -Falta de aliento

      </p>

    </aside>
</div>
</div>

