
<div class="content">
    <div id="interior">
        <section id="contenido">
          <article class="proyectos">
              <div>
                <h4>Causas</h4>
                <h2>¿Qué lo transmite?</h2>
                <hr/>
              </div>
              <div id="imagen">
                  <img src="/assets/Imagenes/imagen4.jpg" alt="Imagen 4">
              </div>
             <p>
                Los coronavirus se transmiten de forma limitada entre humanos, pero hasta la fecha se desconoce el origen de estos virus. En todo caso, se sabe que ciertos animales, como los murciélagos, actúan como reservorios.
             </p>
             <p>
                Como en otros virus que causan neumonía, cuando se transmiten en humanos, el contagio se produce generalmente por vía respiratoria, a través de las gotitas respiratorias que las personas producen cuando tosen, estornudan o al hablar.
             </p>
             <p>
                Todo parece indicar que  nuevo coronavirus, COVID-19, también conocido como coronavirus de Wuhan, tiene una procedencia animal. De hecho, los primeros casos se han relacionado con un mercado de animales vivos de la ciudad de Wuhan, en China.
             </p>
          </article>
          <div class="limpiar"></div>

          <article class="proyectos">

            <div id="imagen">
                <img src="/assets/Imagenes/imagen3.jpg" alt="Imagen 3">
            </div>
           <p>
            En cuanto al MERS, es probable que los camellos sean un importante reservorio para este tipo de coronavirus y una fuente animal de infección en los seres humanos, como especificaba la Organización Mundial de la Salud en su nota descriptiva sobre la enfermedad. Sin embargo, se desconoce la función específica de los camellos en la transmisión del virus y también la ruta o rutas exactas de transmisión.
           </p>
           <p>
            En origen, el coronavirus MERS-CoV es un virus zoonótico que se transmite de animales a personas. Según se desprende del análisis de varios de sus genomas, se cree que el virus se originó en murciélagos y se transmitió a los camellos en algún momento de un pasado lejano.
           </p>
           <p>
            Se cree que el coronavirus del SRAS tuvo su origen en los murciélagos, saltando posteriormente a alguna otra especie de pequeño mamífero, como la civeta, y por último a los humanos.
           </p>
        </article>
        <div class="limpiar"></div>

        </section>
        <aside>
            <div>
                <h3>Nuevo coronavirus</h3>
                <h6>2019-nCoV</h6>
            </div>
            <p >
                El nuevo coronavirus 2019 (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
            </p>
            <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


          <h6>Sintomas del 2019-nCoV</h6>

          <p>
            La infección 2019-nCoV puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
            <br> <br> Incluyen:
            <br>
            <br>
             -Fiebre <br>
             -Tos <br>
             -Falta de aliento
          </p>
          <img src="/assets/Imagenes/imagenaside2.jpeg" alt="Imagen aside2">
        </aside>
    </div>
</div>
