
<div class="content">


<div id="interior">
    <section id="contenido">
      <article class="proyectos">
          <div>
            <h4>Prevención</h4>
            <h2>¿Como lo evito?</h2>
            <hr/>
          </div>
          <div id="imagen">
              <img src="/assets/Imagenes/imagen6.webp" alt="Imagen 6">
          </div>
         <p>
            Hasta la fecha no se dispone de vacuna alguna ni de tratamiento específico para combatir la infección por coronavirus.
         </p>
         <p>
            Mantener una higiene básica es la forma más eficaz de evitar contraer este virus en los lugares en los que existe un mayor riesgo de transmisión, fundamentalmente las zonas del planeta en las que se han registrado casos. Es conveniente lavarse las manos con frecuencia y evitar el contacto con personas ya infectadas, protegiendo especialmente ojos, nariz y boca. A quienes puedan estar en contacto con posibles afectados se les aconseja el uso de mascarillas y usar pañuelos para cubrirse la nariz y la boca cuando se tose o se estornuda.
         </p>
         <p>
            Cuando surgió el MERS-Cov se informó de que los productos de origen animal debidamente procesados por cocción o pasteurización no suponen ningún riesgo de infección, pero deben manipularse con cuidado para evitar que se contaminen por contacto con productos crudos. La carne y la leche de camello pueden seguir consumiéndose tras la pasteurización, cocción u otros tratamientos por calor; sin embargo su consumo crudo debe descartarse.
         </p>
         <p>
            Estas precauciones deben seguirlas especialmente aquellas personas que padezcan diabetes, insuficiencia renal, neumopatía crónica o inmunodepresión, ya que tienen más riesgo de padecer enfermedad grave en caso de infección por coronavirus.
         </p>
      </article>
      <div class="limpiar"></div>
    </section>
    <aside>
        <div>
            <h3>Nuevo coronavirus</h3>
            <h6>2019-nCoV</h6>
        </div>
        <p >
            El nuevo coronavirus 2019 (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
        </p>
        <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


      <h6>Sintomas del 2019-nCoV</h6>

      <p>
        La infección 2019-nCoV puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
        <br> <br> Incluyen:
        <br>
        <br>
         -Fiebre <br>
         -Tos <br>
         -Falta de aliento

      </p>
      <img src="/assets/Imagenes/imagenaside2.jpeg" alt="Imagen aside2">
    </aside>
</div>

</div>
