
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h1 class="navbar-brand"><b> Covid 19 en Colombia </b></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=""><ion-icon name="home-outline" class="mr-2 lead"></ion-icon>Inicio</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ion-icon name="documents-outline" class="mr-2 lead"></ion-icon>Coronavirus
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/concepto">Concepto</a>
          <a class="dropdown-item" href="#" routerLink="/tipos">Tipos</a>
          <a class="dropdown-item" href="#" routerLink="/causas">Causas</a>
          <a class="dropdown-item" href="#" routerLink="/prevencion">Prevención</a>
          <a class="dropdown-item" href="#" routerLink="/sintomas">Síntomas</a>
          <a class="dropdown-item" href="#" routerLink="/tratamientos">Tratamientos</a>
          <a class="dropdown-item" href="#" routerLink="/extras">Extras</a>
        </div>
      </li>

         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ion-icon name="stats-chart-outline" class="mr-2 lead"></ion-icon>Tablas de información
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/tablagral">General</a>
          <a class="dropdown-item" href="#" routerLink="/tabladpto">Departamentales</a>
          <a class="dropdown-item" href="#" routerLink="/tablamunicipal">Municipal</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ion-icon name="stats-chart-outline" class="mr-2 lead"></ion-icon>Estadísticas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="graficasgenerales">Generales</a>
          <a class="dropdown-item" href="#" routerLink="graficasdpto">Departamentos</a>
          <a class="dropdown-item" href="#" routerLink="/graficasmunicipio">Municipio</a>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/noticias">
          <ion-icon name="information-circle-outline" class="mr-2 lead"></ion-icon>Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/aportes">
          <ion-icon name="chatbubble-ellipses-outline" class="mr-2 lead"></ion-icon>Aportes</a>
      </li>
    </ul>
    <div class="rs" id="navbarSupportedContent">
      <!-- collapse navbar-collapse -->
           <a href="https://www.facebook.com/" target="_blank"><img src="../../../../../assets/Imagenes/facebook.png" class="img-fluid runded-circle mr-2 img" alt="facebook"></a>
           <a href="https://www.youtube.com/" target="_blank"><img src="../../../../../assets/Imagenes/youtube.png" class="img-fluid runded-circle mr-2 img" alt="youtobe"></a>
           <a href="https://twitter.com/" target="_blank"> <img src="../../../../../assets/Imagenes/twitter.png" class="img-fluid runded-circle mr-2 img" alt="twiter"></a>

       </div>
  </div>
</nav>
