
<div class="content">
    <div id="interior">
        <section id="contenido">
          <article class="proyectos">
              <div>
                <h4>Tipos</h4>
                <h2>Coronavirus del resfriado</h2>
                <hr/>
              </div>
              <div id="imagen">
                  <img src="/assets/Imagenes/tipos1.jpg" alt="Tipo 1">
              </div>
             <p>
                Esta variante de coronavirus corresponde a los tipos 229E y OC43, que provocan los síntomas comunes de un resfriado, aunque en los casos más graves también pueden ocasionar una neumonía en personas de edad avanzada o en neonatos.
             </p>
          </article>
          <div class="limpiar"></div>
          <article class="proyectos">
            <div>
              <hr/>
              <h2>Síndrome respiratorio agudo severo (SRAS)</h2>
              <hr/>
            </div>
            <div id="imagen">
                <img src="/assets/Imagenes/tipos3.jpg" alt="Tipo 3">
            </div>
           <p>
            Es una forma grave de neumonía. Provoca dificultad respiratoria y fiebre superior a los 38 grados. El brote de 2002 se extendió por todo el mundo, aunque su frecuencia siempre ha sido mayor en el este asiático.
           </p>
        </article>
        <div class="limpiar"></div>

        <article class="proyectos">
            <div>
              <hr/>
              <h2>Síndrome respiratorio de Oriente Medio (MERS-CoV)</h2>
              <hr/>
            </div>
            <div id="imagen">
                <img src="/assets/Imagenes/tipos4.jpg" alt="Tipo 4">
            </div>
           <p>
            Causa graves problemas respiratorios, además de fiebre, tos y dificultad para respirar, aunque en un primer momento puede ser asintomático. En los casos más graves también se produce expectoración de sangre, diarrea y vómitos. Tuvo su primer brote en el año 2012 y desde entonces se han reportado muchos casos en Oriente Medio, aunque también ha llegado a Europa y Estados Unidos.
           </p>
        </article>
        <div class="limpiar"></div>

        <article class="proyectos">
            <div>
              <hr/>
              <h2>Coronavirus COVID-19</h2>
              <hr/>
            </div>
            <div id="imagen">
                <img src="/assets/Imagenes/tipos5.jpg" alt="Tipo 5">
            </div>
           <p>
            El nuevo coronavirus detectado a finales de 2019 en China muestra una secuencia genética que coincide con la del SRAS en un 80%. No obstante, en un principio parece menos virulento y con una mortalidad inferior. En cambio, su transmisión ha sido muy superior y ya  ha causado varios miles de casos más que el SRAS.
           </p>
        </article>
        <div class="limpiar"></div>

        </section>
        <aside>
            <div>
                <h3>Nuevo coronavirus</h3>
                <h6>2019-nCoV</h6>
            </div>
            <p >
                El nuevo <strong> coronavirus 2019 </strong> (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
            </p>
            <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


          <h6>Sintomas del 2019-nCoV</h6>

          <p>
            La infección <strong> 2019-nCoV </strong> puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
            <br> <br> Incluyen:
            <br>
            <br>
             -Fiebre <br>
             -Tos <br>
             -Falta de aliento

          </p>
          <img src="/assets/Imagenes/imagenaside2.jpeg" alt="Imagen aside2">
        </aside>
    </div>

</div>

