
<div class="content">

<div id="interior">
    <section id="contenido">
      <article class="proyectos">
          <div>
            <h4>Datos extras</h4>
            <h2>Brotes epidémicos</h2>
            <hr/>
          </div>
         <p>
            En los últimos años se han descrito tres brotes epidémicos importantes causados por coronavirus:
         </p>
         <hr/>
        <p>
           <b> SRAS-CoV:</b> El síndrome respiratorio agudo y grave (SRAS, también conocido como SARS y SRAG) se inició en noviembre de 2002 en China, afectó a más de 8.000 personas en 37 países y provocó más de 700 muertes. La mortalidad del SRAS-Cov se ha cifrado en el 10% aproximadamente.
        </p>
        <p>
           <b> MERS-CoV:</b> El coronavirus causante del <strong> síndrome respiratorio de Oriente Medio (MERS) </strong> fue detectado por primera vez en 2012 en Arabia Saudita. Se han notificado hasta octubre de 2019 más de 2.400 casos de infección en distintos países, con más de 800 muertes. La letalidad es, por tanto, del 35%.
        </p>
        <p>
           <b> COVID-19: </b> A finales de diciembre de 2019 se notificaron los primeros casos de un nuevo coronavirus en la ciudad de Wuhan (China). Desde entonces el goteo de nuevos infectados por el virus COVID-19 (antes llamado 2019nCoV) ha sido continuo y su transmisión de persona a persona se ha acelerado. Los casos declarados de nemonía de Wuhan ya superan con creces a los de la epidemia de SRAS, pero la tasa de mortalidad es, de momento, más baja.
        </p>
        <p>
            A pesar de que ya hay personas infectadas en diversos países, los expertos piden cautela y creen poco probable que cause brotes epidémicos en países como España. Aunque se han confirmado casos positivos en España (que contrajeron el virus en otros países), las autoridades sanitarias y las sociedades científicas consideran que nuestro país está preparado para contener la transmisión.
        </p>

      </article>
      <div class="limpiar"></div>
      <article class="proyectos">
        <div>
          <h2>Pronóstico</h2>
          <hr/>
        </div>
       <p>
        La supervivencia del paciente dependerá del tipo de coronavirus contraído:
       </p>
       <hr/>
      <p>
          -> Los coronavirus de resfriado tienen tasas muy altas de recuperación y prácticamente todos los afectados consiguen vencer al virus a los pocos días.
      </p>
      <p>
          -> Los coronavirus de SRAS también se superan en la mayoría de los casos, aunque entre el nueve y el 12 por ciento de los casos ocasionan la muerte del paciente. Tienen más expectativa de vida los pacientes jóvenes, pues suelen presentar unos síntomas más leves.
      </p>
      <p>
          -> La tasa de supervivencia del MERS es menos elevada, alcanzando alrededor de un 36 por ciento en mortalidad, según especifica la Organización Mundial de la Salud.
      </p>
      <p>
          -> Aún es pronto para determinar la <strong> tasa de mortalidad del virus COVID-19, </strong> pero parece inferior a la de los anteriores.
      </p>

    </article>
    <div class="limpiar"></div>
    </section>
    <aside>
        <div>
            <h3>Nuevo coronavirus</h3>
            <h6>2019-nCoV</h6>
        </div>
        <p >
            El nuevo coronavirus 2019 (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
        </p>
        <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


      <h6>Sintomas del 2019-nCoV</h6>

      <p>
        La infección 2019-nCoV puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
        <br> <br> Incluyen:
        <br>
        <br>
         -Fiebre <br>
         -Tos <br>
         -Falta de aliento

      </p>
      <img src="/assets/Imagenes/imagenaside2.jpeg" alt="Imagen aside2">

    </aside>
</div>
</div>
