
<div class="content">


<div id="interior">
    <section id="contenido">
      <article class="proyectos">
          <div>
            <h4>Tratamientos</h4>
            <h2>¿Qué hago?</h2>
            <hr/>
          </div>
          <div id="imagen">
              <img src="/assets/Imagenes/imagen6.jpg" alt="Imagen 6">
          </div>
         <p>
            No existe una <strong> vacuna contra el coronavirus </strong> humano que causa resfriado, pero los casos más leves pueden superarse siguiendo los mismos pasos que un catarro común. Esto no requiere intervención médica y simplemente con lavarse las manos de forma frecuente, guardar reposo y beber líquidos de forma abundante los síntomas desaparecerán a los pocos días. También se pueden tomar analgésicos como ibuprofeno o paracetamol para aliviar dolores de garganta o fiebre.
         </p>
         <p>
            En casos de <strong> coronavirus SRAS, MERS CoV y COVID-19, </strong> suele ser conveniente el ingreso hospitalario. Se administran antivirales, dosis altas de esteroides para reducir la inflamación pulmonar y un soporte respiratorio con oxígeno; en ocasiones puede precisar antibióticos, pero solo en caso de que existan infecciones bacterianas sobrevenidas, es decir, sobreinfección.
         </p>
         <p>
            En resumen, este tipo de infecciones respiratorias se tratan con antivirales y medidas de soporte. El tratamiento se suele adaptar en función de la gravedad del paciente, ya que hay casos en los que se producen neumonías graves, pero en otros las manifestaciones son leves.
         </p>
      </article>
      <div class="limpiar"></div>
    </section>
    <aside>
        <div>
            <h3>Nuevo coronavirus</h3>
            <h6>2019-nCoV</h6>
        </div>
        <p >
            El nuevo coronavirus 2019 (2019-nCoV) es un nuevo tipo de coronavirus. Causa enfermedades respiratorias en las personas. Fue identificado por primera vez en Wuhan, China.
        </p>
        <img src="/assets/Imagenes/imagenaside1.png" alt="Imagen aside1">


      <h6>Sintomas del 2019-nCoV</h6>

      <p>
        La infección 2019-nCoV puede variar de leve, sin síntomas o síntomas menores, a grave o incluso mortal. En general, los síntomas comienzan entre 2 y 14 días después de la infección.
        <br> <br> Incluyen:
        <br>
        <br>
         -Fiebre <br>
         -Tos <br>
         -Falta de aliento

      </p>

    </aside>
</div>
</div>
